{% load static %}

<nav id="sidebar" >
    <div class="sidebar-header">
        <h3><img src="{% static 'images/profile.png' %}" style="width: 50px; height: 50px;"></h3>
    </div>
{% url 'admin_dashboard' as Dashboard %}
{% url 'user_raw_material' as raw %}
{% url 'user_finished_material' as FM %}
{% url 'user_unfinished_material' as UF %}
{% url 'user_essential_material' as EM %}
{% url 'user_account' as U %}

    <ul class="list-unstyled components">
        <br>
        {% if request.user.is_staff %}

        <li>
            <a {% if request.path == Dashboard %}  class="activeMenu" {% endif %} href="{% url 'admin_dashboard' %}">Overview</a>

        </li>
        {% endif %}
        <li>
            <a {% if request.path == raw %}  class="activeMenu" {% endif %} href="{% url 'user_raw_material' %}">Raw Material</a>
        </li>
        <li>
            <a {% if request.path == FM %}  class="activeMenu" {% endif %}href="{% url 'user_finished_material' %}">Finished Material</a>
        </li>
        <li>
            <a {% if request.path == UF %}  class="activeMenu" {% endif %}href="{% url 'user_unfinished_material' %}">Un-Finished Material</a>
        </li>
        <li>
            <a {% if request.path == EM %}  class="activeMenu" {% endif %} href="{% url 'user_essential_material' %}">Essential Items</a>
        </li>
        <li>
            <a {% if request.path == U %}  class="activeMenu" {% endif %} href="{% url 'user_account' %}">Account</a>
        </li>
     
    </ul>

    <ul class="list-unstyled CTAs">

        <li>
            <a href="{% url 'logout' %}" class="article">Logout</a>
        </li>
    </ul>
</nav>