<script>
  // $(".pagination").addClass("justify-content-center");

  $.ajax({
    method: "GET",
    url: "{% url 'raw_save' %}",
    success: function (response) {
      // console.log(response.data)
      const es_data = response.data;
      es_data.map((item) => {
        $("#rm_id").append(`<option value="${item.id}">
                                       ${item.id}
                                  </option>`);
      });
    },
  });
  var a = document.getElementById("rm_id");
  const grad = document.getElementById("rm_grade");
  a.addEventListener(
    "change",
    function () {
      console.log("jdsjd");
      var selected_id = this.value;
      grad.textContent = "Select";
      console.log(selected_id);
      $.ajax({
        method: "GET",
        url: `get_rw_grade/${selected_id}/`,
        success: function (response) {
          var rw_data = response.data;
          // console.log(response.data);
          rw_data.map((item) => {
            $("#rm_grade").append(`<option value="${item.RM_Grade}">
                                       ${item.RM_Grade}
                                  </option>`);
            $("#rm_size").val(item.RM_Size);
          });
        },
      });
    },
    false
  );
  // $.ajax({
  //     method: 'GET',
  //     url : "{% url 'upd_save' %}",
  //     success: function(response){
  //         console.log(response.data)
  //         const es_data = response.data
  //         es_data.map(item =>{
  //             $('#upd_id').append(`<option value="${item.id}">
  //                 ${item.id}
  //                 </option>`);
  //             })
  //         }
  //     })
  //     var up = document.getElementById('upd_id');
  //     const type = document.getElementById('upd_typee');
  // up.addEventListener('change', function() {

  //     var selected_id = this.value;
  //     type.textContent = "Select"

  //     console.log(selected_id);
  //     $.ajax({
  //         method: 'GET',
  //         url : `get_es_type/${selected_id}/`,
  //         success : function(response){
  //             var es_data = response.data
  //             console.log(response.data);
  //             es_data.map(item =>{
  //                 $('#upd_typee').append(`<option value="${item.id}">
  //                                    ${item.Type}
  //                               </option>`);
  //                 $("#upd_size").val(item.ES_Size);
  //             })
  //         }

  //     })
  // }, false);
  // console.log('nothing happend')

  $("#btnsave_fm").click("#fm_form", function () {
    // $("#btnsave").click(function(){
    output = "";
    let fm_date = $("#fm_date").val();
    // let fm_register = $("#fm_register").val();
    let rm_id = $("#rm_id").val();
    let rm_size = $("#rm_size").val();
    let rm_grade = $("#rm_grade").val();
    let rm_weight = $("#rm_weight").val();

    let fm_type = $("#fm_type").val();
    let fm_thickness = $("#fm_thickness").val();
    let fm_size = $("#fm_size").val();
    let fm_weight = $("#fm_weight").val();
    let fm_quantity = $("#fm_quantity").val();
    let fm_scrapeweight = $("#fm_scrapeweight").val();

    let ufm_thickness = $("#ufm_thickness").val();
    let ufm_size = $("#ufm_size").val();
    let ufm_weight = $("#ufm_weight").val();
    let ufm_quantity = $("#ufm_quantity").val();

    let csr = $("input[name=csrfmiddlewaretoken").val();
    // console.log("clicked");
    // console.log(raw_thickness);
    // console.log(raw_size);
    // console.log(raw_grade);
    console.log(rm_weight);
    // console.log(s_weight);

    fm_data = {
      fmat_date: fm_date,
      raw_id: rm_id,
      raw_size: rm_size,
      raw_grade: rm_grade,
      raw_weight: rm_weight,
      fmat_type: fm_type,
      fmat_thickness: fm_thickness,
      fmat_size: fm_size,
      fmat_weight: fm_weight,
      fmat_quantity: fm_quantity,
      fmat_scrape: fm_scrapeweight,
      uf_thickness: ufm_thickness,
      uf_size: ufm_size,
      uf_weight: ufm_weight,
      uf_quantity: ufm_quantity,
      csrfmiddlewaretoken: csr,
    };
    if (fm_date == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (rm_id == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (rm_size == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (rm_grade == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (rm_weight == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (fm_type == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (fm_thickness == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (fm_size == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (fm_weight == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (fm_quantity == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (fm_scrapeweight == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (ufm_thickness == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (ufm_size == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (ufm_weight == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else if (ufm_quantity == "") {
      $("#msg").html(
        '<div class="mt-2 text- alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>Please Input all Fields.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
      );
    } else {
      $.ajax({
        url: "{% url 'fm_save' %}", //change this url
        method: "POST",
        data: fm_data,
        dataType: "json",
        success: function (data) {
          x = data.fm_data;
          if (data.status == 1) {
            $("#msg").html(
              '<div class="mt-2 text- alert alert-warning alert-dismissible fade show" role="alert">Not Enough Weight in Raw Material<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
            );
            // $("#msg").show();
            // $("#fm_form")[0].reset();
          }
          if (data.status == "Save") {
            for (i = 0; i < x.length; i++) {
              output +=
                "<tr><td>" +
                x[i].id +
                "</td><td>" +
                x[i].FM_Date +
                "</td><td>" +
                x[i].register_id +
                "</td><td>" +
                x[i].coilUID_id +
                "</td><td>" +
                x[i].Size +
                "</td><td>" +
                x[i].Grade +
                "</td><td>" +
                x[i].coilWeight +
                "</td><td>" +
                x[i].materialType +
                "</td><td>" +
                x[i].FM_Thickness +
                "</td><td>" +
                x[i].FM_Size +
                "</td><td>" +
                x[i].FM_Weight +
                "</td><td>" +
                x[i].FM_Quantity +
                "</td><td>" +
                x[i].FM_scrapWeight +
                "</td><td>" +
                x[i].UF_Thickness +
                "</td><td>" +
                x[i].UF_Size +
                "</td><td>" +
                x[i].UF_Weight +
                "</td><td>" +
                x[i].UF_Quantity +
                "<td class='text-center d-flex justify-content-around'><a class='btn btn-danger btn-sm btn-del-fm' title='delet' id='del' data-sid = " +
                x[i].id +
                "><i class='fa fa-trash'></i> </a></td></tr>";
              console.log(output);
              $("#msg").html(
                '<div class="mt-2 text- alert alert-success alert-dismissible fade show" role="alert">Successfully Submitted<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
              );
            }
            $("#tbody_fm").html(output);
            $("#fm_form")[0].reset();
            if (data.status == 0) {
              $("#msg").html(
                '<div class="mt-2 text- alert alert-warning alert-dismissible fade show" role="alert">Unable to save data.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
              );
              // $("#msg").show();
              $("#fm_form")[0].reset();
            }
          }
        },
      });
    }
  });

  $("#tbody_fm").on("click", ".btn-del-fm", function () {
    // console.log('button selected')
    let id = $(this).attr("data-sid");
    let csr = $("input[name=csrfmiddlewaretoken").val();
    console.log(id);
    mydata = { sid: id, csrfmiddlewaretoken: csr };
    mythis = this;
    $.ajax({
      url: "{% url 'fm_delete' %}",
      method: "POST",
      data: mydata,
      success: function (data) {
        if (data.status == 1) {
          $("#toast_id").html(
            alert_msg("Success!", "Entry Deleted", "toast-div-danger")
          );
          $(mythis).closest("tr").fadeOut();
        }
      },
    });
  });
</script>
