<script>





    // let select = $("{{d.id}}")
    // console.log(select)
    $('#edit-employee').on("click",".btn-user-update",function (){
        console.log('button selected')
        let id = $(this).attr("data-sid");
        let h = '#status_'
        let r = '#role_'
        let rr = "role_"
        let d = '#del_'
        sid = id.toString(id)
        let status = $(h.concat(sid)).val(); 
        let role = $(r.concat(sid)).val();
        let delet = $(d.concat(sid)).val();
        // user_socket.send(JSON.stringify({
        //         'message':'button clicked',
        //         'room':room_code
        //     }))
        let csr = $("input[name=csrfmiddlewaretoken").val();
        if (role == 'In-Active'){
            $(d.concat(sid)).val('No');
            // $("input").attr('disabled', 'disabled');
        }

        // console.log(id);
        // console.log(status);
        // console.log(role);
        p_data = { 
            sid: id,
            st : status,
            rl : role,
            del_access: delet,
            csrfmiddlewaretoken: csr };
        // mythis = this;
        $.ajax({
            url : "{% url 'p_user' %}",
            method: "POST",
            data: p_data,
            dataType: "json",
            success: function(data) {
                // x = data.p_data1;
                if (data.status == "Save") {
                    $("#toast6_id").html(
                        alert_msg("Success!", "User Updated", "toast-div-success")
                    );                     // $("#notification-form")[0].reset();
                    
                };
                if (data.status==0){
                        
                    $("#toast6_id").html(
                        alert_msg("Error!", "Unable to update", "toast-div-danger")
                    );                         // $("#notification-form")[0].reset();
                }
            }
        })
        
    })
    $('#edit-employee').on("click",".btn-user-delete",function (){
        console.log('button selected')
        let id = $(this).attr("data-sid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        console.log(id)
        mydata = { sid: id, csrfmiddlewaretoken: csr };
        mythis = this;
        $.ajax({
            url : "{% url 'user_delete' %}",
            method: "POST",
            data: mydata,
            success : function(data) {
                if (data.status==1){
                    $("#toast6_id").html(
                        alert_msg("Success!", "User Deleted", "toast-div-danger")
                    );                    
                    $(mythis).closest("tr").fadeOut();
                }
            }
        })
    })

</script>